@{
    ViewData["Title"] = "Главная страница";
}

<h2>Добро пожаловать в приложение SecurityDemo!</h2>

<p>
    <a asp-controller="Account" asp-action="Login">Войти</a> |
    <a asp-controller="Account" asp-action="Register">Регистрация</a> |
    <a asp-controller="Home" asp-action="Protected">Защищённая страница</a> |
    <a asp-controller="Admin" asp-action="Index">Страница администратора</a>
</p>
