<div class="page-content">
    <h1>Добро пожаловать!</h1>
    <p>Какой-то текст</p>

    <div class="image-row" style="margin-top:20px;">
        <img src="~/images/icons/dog.jpg" alt="dog" width="300" />
        <img src="~/images/icons/cat.jpg" alt="cat" width="300" />

    </div>
</div>
